@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-left,
.button-right {
  z-index: 3;
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: #855f99;
  border-radius: 4px;
}

.button-left {
  left: -5px;
}

.button-right {
  right: -4px;
  height: 80px;
  top: 25%;
}

.button-top {
  top: 18%;
  height: 30px;
}

.button-middle {
  top: 25%;
}

.button-bottom {
  top: 35%;
}
.phone-wrapper-2 {
  position: relative;
  padding: 2px;
  background: #333;
  border-radius:35px;
  margin-left: 50px;
  height: 945px;
}

.phone-wrapper {
  position: relative;
  width: 1365px;
  height: 941px;
  margin: 0 auto;
  padding: 2px;
  background: rgb(83,58,108);
  background: linear-gradient(42deg, rgba(83,58,108,1) 0%, rgba(131,137,208,1) 12%, rgba(99,62,135,1) 100%);
  border-radius: 32px;
  -webkit-box-shadow: 0 15px 47px 20px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 15px 47px 20px rgba(0,0,0,0.45);
  box-shadow: 0 15px 47px 20px rgba(0,0,0,0.45);
}

.phone-mockup {
  border-radius: 30px;
  background-color: #222;
  width: 1346px;
  height: 920px;
  padding: 10px 10px;
  position: relative;
}

.phone-mockup::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 18px;
  background-color: #212121;
  border-radius: 0 0 15px 15px;
}

.phone-screen {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-sizing: border-box;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.scrollable {
  overflow-y: scroll;
  height: 920px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.scrollable::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}



button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: all 0.3s;
  border-color: #00AA66;
  border-style: none;
  background: transparent;
}


button:hover {
  background-color: #4CAF50;
  color: #ddd;
}


.dashboard {
  display: inline-block;
  width: 100%;
  justify-content: center;
  align-content: center;
}


.status {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.status.healthy {
  background-color: #4CAF50;
  color: white;
}

.status.attention {
  background-color: #FFC107;
  color: #333;
}

.status.critical {
  background-color: #F44336;
  color: white;
}

.soil-moisture {
  margin-bottom: 1rem;
}

.chart-container {
  width: 100%;
  margin: 0 auto;
}

.main-category {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1.5rem;

}


nav {
  display: flex;
  justify-content: right;
  align-items: center;
  background: #275d4b;
  height: 50px;
  width: 100%;
  color: white;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  margin-left: -3rem;
  padding-top: 1.5rem;

}

nav li {
  margin-right: 0.025rem;
}

nav .logo {
  margin-top: -1rem;
}

.plant-status {
  display: flex;

}

.alert {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 0.8em;
}

.plant-status {
  display: flex;
  flex-direction: column;
}

.plant {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.status {
  margin-right: 0.5rem;
  font-weight: normal;
  font-size: 1em;
  color: #333;
}

.alert {
  font-weight: normal;
  font-size: 0.8em;
  color: #777;
}

.alert.watering {
  color: #1976d2;
  font-weight: bold;
}

.alert.fertilizing {
  color: #4caf50;
  font-weight: bold;
}

section {
  display: none;
}


section#tips {
  display: none;
}

section#settings {
  display: none;

}


.plant-info {
  height: 6.5rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display:grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
}

.plant-info div{
  margin-top: -0.5rem;
  text-align: left;
  vertical-align: middle;
  height: 6.5rem;
}

.plant-info-left {
  width: 110px;
  margin-left: 1rem;
}

.plant-info-left p {
  margin-top: -0.2rem;
  font-style: italic;
}

.plant-info-middle {
  width: 5rem;
}

.plant-info-right {
  width: 6rem;
}

.content {
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  width: 30%;
  margin-left:1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

h2 {
  margin-left: 1rem;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0;
  font-size: 1rem;
  color:#333;
}

.plant-1 {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plaint-info-middle{
  margin-bottom:50rem;
}

.plant-info-middle p{
  margin-top: 2.5rem;
}

.plant-info-right p{
  padding-top: 2rem;
  margin:0;
}

.plant-info-right .row2 {
  padding-top: 0;
  margin:0;
}

.settings {
  font-size: 2rem;
  margin-top: -1.3rem;
}

.plant-a {
  background: rgb(255,255,255);
  background: linear-gradient(-90deg, rgba(255,255,255,1) 96%, rgba(24,135,177,1) 96%);
}

.plant-b {
  background: rgb(255,255,255);
  background: linear-gradient(-90deg, rgba(255,255,255,1) 96%, rgba(24,177,60,1) 96%);
}

.status-type {
  margin: 0;
  padding: 0;
}

.environment-data{
  height: 6rem;
  margin-bottom: 2rem;
}

.data-column {
  float: left;
  width: 33.33%;
  height: 3rem;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.data-column p{
  margin-top: -0.3rem;
  font-size: 14px;
}

.environment-data:after {
  content: "";
  display: table;
  clear: both;
}

