@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}